<div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        <div data-ng-show="error" class="alert alert-danger"><strong>Ошибка:</strong> {{error}}</div>
        <form role="form" ng-submit="login()">
            <div class="form-content">
                <div class="form-group">
                    <input type="text" class="form-control input-underline input-lg" placeholder="Имя пользователя"
                           ng-model="user.username">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control input-underline input-lg" placeholder="Пароль"
                           ng-model="user.password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-outline btn-lg btn-rounded">Войти</button>

        </form>
    </div>
</div>
