<button class="btn btn-primary btn-lg" ng-click="create()" style="width: 200px">Добавить методику</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-lg-4">Описание</th>
        <th class="col-lg-1">Группа</th>
        <th class="col-lg-1">Тип</th>
        <th class="col-lg-1">Год</th>
        <th class="col-lg-2">Тэги</th>
        <th class="col-lg-1"></th>
    </tr>
    <tr>
        <th><input type="text" class="form-control" ng-model="filterState.description"></th>
        <th><select class="form-control" ng-model="filterState.group">
            <option value=""></option>
            <option ng-repeat="option in groups" value="{{option._id}}">{{option.name}}</option>
        </select></th>
        <th><input type="text" class="form-control" ng-model="filterState.type"></th>
        <th><input type="text" class="form-control" ng-model="filterState.year"></th>
        <th>
            <tags-input ng-model="filterState.tags">
                <auto-complete source="tags"></auto-complete>
            </tags-input>
        </th>
        <th></th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="method in methods | mFilter : filterState">
        <td>{{method.description}}</td>
        <td>{{method.group.name}}</td>
        <td>{{method.type}}</td>
        <td>{{method.year}}</td>
        <td>
                <span style="margin-left: 5px" class="label label-info" ng-click="addTagFilter(tag)"
                      ng-repeat="tag in method.tags">{{tag.text}}</span>
            <!--<tags-input ng-model="method.tags"><auto-complete source="tags"></auto-complete></tags-input>-->
        </td>
        <td class="text-right text-nowrap">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-info btn-sm" ng-click="edit(method)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="delete(method)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>

    </tbody>
</table>
